# Configuration file to run transformer java files.
# Unlike an ares file, the values are not in quotation marks.

# Configurations used for both ePub and PDF
pathToServicesIndexHtml = /Users/mac002/Git/ages-alwb-templates/net.ages.liturgical.workbench.templates/src-gen/website/test/dcs/servicesindex.html

# configurations for PDF generation
createPdfFiles = no
deleteFoFiles = no

# configurations for ePub generation from the servicesindex.html file
createMonthlyEpubs = yes
epub.filename.prefix = agesServices
epub.title = Eastern Orthodox Christian Services
epub.author = AGES Initiatives, Inc.
services.index.file.html.epub.info = \n<br><div class="epub_link">\n<p>Below are links to <em>Print (PDF)</em> and <em>Text/Music (HTML)</em> files for each day.</p>\n<br>\n<p>Services for each month for <em>Offline Viewing (ePub)</em> are available <a href=\"e/s/index.html\">here</a>.</p>\n</div>
epub.index.title = AGES ePub Index
epub.index.heading = Index of Available ePub Files
