# Configuration file to run transformer java files.
# Unlike an ares file, the values are not in quotation marks.
# You need to set the pathToServicesIndexHtml below to
# point to the servicesindex.html in your src-gen folder.

#########################################
# Switches to turn on/off pdf / epub / json generation
#########################################

createPdfFiles = no
mergePdfForBook = no
createIndividualEpubFiles = no
createCustomEpubMerge = no
mergeEpubFilesByDay = no
mergeEpubFilesByMonth = no
createJsonFiles = yes

# Note for above: if mergeEpubFileByMonth = yes,
# or if mergeEpubFileByDay = yes,
# then, createIndividualEpubFiles must = yes

# Configurations used for Git / Github
########################################
# For Windows, use \\ as the directory separator in the path.
# For non-Windows, use / as the directory separator in the path.
########################################
pathToParentGitDirectory = c:\\git
debugGit = true
################################

# Configurations used for both ePub, Json, and PDF
########################################
# For Windows, use \\ as the directory separator in the path.
# For non-Windows, use / as the directory separator in the path.
########################################
pathToServicesIndexHtml = c:\\git\\ages-alwb-templates\\net.ages.liturgical.workbench.templates\\src-gen\\website\\test_john\\dcs\\servicesindex.html
#pathToServicesIndexHtml = /Users/mac002/Git/alwb-repositories/ages/ages-alwb-templates/net.ages.liturgical.workbench.templates/src-gen/website/test/dcs/servicesindex.html
################################

# configurations for PDF generation
################################
deleteFoFiles = no

################################
# configurations for Json generation
# formatJson = yes | no
If yes, the Json will have line breaks, making it easy for a human to read.
If no, the Json will be a single line.  This reduces the size of the file.
You should set it to 'no' to generate json that will be placed on a website.
################################
formatJson = no

#################################
# Settings for ePub generation
#################################
epub.reader.toc.text.display.name = Text
exclude.html.in.root.folder = yes
# The generated HTML contains things we don't want in an ePub.
# List below which classes to use to remove unwanted elements.
epub.remove.html.classes = media-group, bmc_collapse, emc_collapse
# Below is the way to format the date as it appears in the ePub cover page
# and in the header to the text.
epub.date.title.format = EEEE, d MMMM, yyyy
# Below is the way to format the date as it appears in the ePub reader's table of contents
epub.date.toc.format = EE d MMM yyyy
epub.author = AGES Initiatives, Inc.
# The next two settings are used when the generated Matins HTML
# does not already have matins ordinary included.  This will add it.
epub.include.matins.ordinary = no
epub.path.to.matins.ordinary = c/matinsordinary

##############################################################
# Settings for RunToBuildPdfFiles
#
# Use this to combine PDFs into a single file.
# Because the order in which they are merged
# matters, it is necessary to list all the files you
# want to merge.
#
pdf.book.merge.path.in = /Users/mac002/git/kenya-priests-service-book/service-book/src-gen/website/test/dcs/p/b
pdf.book.merge.path.out = /Users/mac002/git/kenya-priests-service-book/service-book/src-gen/website/test/dcs/p/m
pdf.book.merge.new.file.name = priestservicebook.pdf
pdf.book.merge.file.1 = 	bk.vespersforsunday.pdf
pdf.book.merge.file.2 =	bk.artoklasia.pdf
pdf.book.merge.file.3 =	bk.matinsforsunday.pdf
pdf.book.merge.file.4 =	bk.liturgystjohn.pdf
pdf.book.merge.file.5 =	bk.ordination.pdf
pdf.book.merge.file.6 =	bk.baptism.pdf
pdf.book.merge.file.7 =	bk.confessioncanon.pdf
pdf.book.merge.file.8 =	bk.confessionsacrament.pdf
pdf.book.merge.file.9 =	bk.wedding.pdf
pdf.book.merge.file.10 =	bk.childbirth.pdf
pdf.book.merge.file.11 =	bk.holyunction.pdf
pdf.book.merge.file.12 =	bk.holyunctioninhome.pdf
pdf.book.merge.file.13 =	bk.prayersforvisitationofsick.pdf
pdf.book.merge.file.14 =	bk.trisagion.pdf
pdf.book.merge.file.15 =	bk.funeral.pdf
pdf.book.merge.file.16 =	bk.funeralbrightweek.pdf
pdf.book.merge.file.17 =	bk.funeralchildren.pdf
pdf.book.merge.file.18 =	bk.funeralchildrenbrightweek.pdf
pdf.book.merge.file.19 =	bk.blessingbuildingorbusiness.pdf
pdf.book.merge.file.20 =	bk.churchdedicationtypikon.pdf
pdf.book.merge.file.21 =	bk.churchdedicationatmatins.pdf
pdf.book.merge.file.22 =	bk.churchdedicationatvespers.pdf
pdf.book.merge.file.23 =	bk.churchdedicationtherite.pdf
pdf.book.merge.file.24 =	bk.epiphanyblessingwaters.pdf
pdf.book.merge.file.25 =	bk.epiphanyblessinghome.pdf
pdf.book.merge.file.26 =	bk.littleparaklesis.pdf
pdf.book.merge.file.27 =	bk.prayersvarious.pdf
pdf.book.merge.file.28 =	bk.glossary.pdf
##############################################################

############################################################################
# Settings for RunToMergeEpubFiles
# Example 1: to get all service types for all languages for all days in September and October:
# 		merge.regular.expression.1 = se.m(09|10).d(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31).(ve|ma|li).(en|gr-en|gr).epub
# Example 2: to get gr-en services for last days of September and all of October:
# 		merge.regular.expression.1 = se.m(09).d(27|28|29|30|31).(ve|ma|li).(gr-en|gr).epub
#		merge.regular.expression.2 = se.m(10).d(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31).(ve|ma|li).(gr-en).epub
#
# You can have 1..n regular.expression patterns.  Just add a number after each one.
# Comment out patterns you do not need.
#
# Guidelines regarding the regular expressions:
# 1. It is best to do everything with a single expression (i.e. regular.expression.1).
# 2. It is best to only use a .1 and .2, etc. when trying to combine services across a month boundary.
# 3. If you want to create a merged file that combines multiple languages, just use a .1 regular expression, and specify the languages.
# 4. In order to get a separate merge file for each language, you need to change the regular expressions
#      and re-run the transformer.  Otherwise, all languages will be in the same file.
############################################################################
merge.regular.expression.1 = .*.(en).epub
merge.title = Priest's Service Book
merge.author = Orthodox Christian Church of Kenya
# do not include html files in the ePubs that start with the following names:
# merge.exclusions = preface, sources, toc, index
merge.exclusions = preface, sources
# new file will be in the /e/m/ directory
# don't put .epub on merge.filename (below)
merge.filename = priestsServiceBook
epub.merge.file.1 = vespersforsundaysandfeasts.en.epub
epub.merge.file.2 = serviceoftheartoklasia.en.epub
epub.merge.file.3 = matinsforweekdays.en.epub
epub.merge.file.4 = matinsforsundaysandfeasts.en.epub
epub.merge.file.5 = thedivineliturgyofourfatheramongthesaintsjohnchrysostom.en.epub
epub.merge.file.6 = ordinationsandelevations.en.epub
epub.merge.file.7 = baptism.en.epub
epub.merge.file.8 = canonforconfession.en.epub
epub.merge.file.9 = theorderofthesacramentofconfession.en.epub
epub.merge.file.10 = wedding.en.epub
epub.merge.file.11 = prayersforchildbearing.en.epub
epub.merge.file.12 = officeoftheholyoil.en.epub
epub.merge.file.13 = officeoftheholyoilinachurchorhouse.en.epub
epub.merge.file.14 = prayersforvisitationofthesick.en.epub
epub.merge.file.15 = serviceofthetrisagionforthedeparted.en.epub
epub.merge.file.16 = funeral.en.epub
epub.merge.file.17 = thefuneralserviceonbrightweek.en.epub
epub.merge.file.18 = thefuneralserviceforachild.en.epub
epub.merge.file.19 = thefuneralserviceforachildinbrightweek.en.epub
epub.merge.file.20 = regulationfortheserviceofthededicationofachurch.en.epub
epub.merge.file.21 = serviceforthededicationofachurch-atmatins.en.epub
epub.merge.file.22 = serviceforthededicationofachurch-atgreatvespers.en.epub
epub.merge.file.23 = serviceforthededicationofachurch-therite.en.epub
epub.merge.file.24 = blessingofbuilding,business,orhome.en.epub
epub.merge.file.25 = serviceofthegreatblessingofthewaters.en.epub
epub.merge.file.26 = serviceoftheblessingofthewatersatahome.en.epub
epub.merge.file.27 = serviceoflittleparaklesis.en.epub
epub.merge.file.28 = prayersforvariousoccaisions.en.epub
epub.merge.file.29 = glossary.en.epub


############################################################################
# Settings for RunToMergeEpubFilesGroupedByMonth
############################################################################
merge.month.title = Services for
merge.month.author = AGES Initiatives, Inc.
# do not include html files in the source ePubs that start with the following names:
merge.month.exclusions = preface, sources
# new file will be in the /e/m/ directory
merge.month.filename.prefix = se
# Below is the date format for the cover of the ePub
merge.month.date.format = MMMM, yyyy
merge.month.regular.expression.1 = ^.*.(gr-en).epub

############################################################################
# Settings for RunToMergeEpubFilesGroupedByDay
############################################################################
merge.day.title = Services for
merge.day.author = AGES Initiatives, Inc.
# do not include html files in the source ePubs that start with the following names:
merge.day.exclusions = preface, sources
# new file will be in the /e/m/ directory
merge.day.filename.prefix = se
# Below is the date format for the cover of the ePub
merge.day.title.date.format = EEEE, d MMMM, yyyy
merge.day.regular.expression.1 = ^.*.(gr-en).epub

#########################################
# Settings used by RunToBuildEpubIndex.java
#########################################
createIndexOfMergedEpubs = yes
epub.index.title = AGES ePub Index
epub.index.heading = Index of Available ePub Files
# The setting below contains the html to insert into servicesindex.html
services.index.file.html.epub.info = \n<br><div class="epub_link">\n<p></p>\n<p>Below are links to <em>Print (PDF)</em>, <em>Text/Music (HTML)</em>, and <em>Off-line Viewing (ePub)</em> files for each day.</p>\n<br>\n<p>ePub files that combine all services for each month and/or day into a single file for <em>Off-line Viewing (ePub)</em> are available <a href=\"e/index.html\">here</a>.</p>\n</div>

########################################################
# Settings for inclusion of a first words index in the ePub
########################################################
epub.generate.first.words.index = no
# Below are the classes to use for the first words index
epub.generate.first.words.index.classes = dialog, hymn, reading
epub.generate.first.words.index.exclude.between.parentheses = yes
# The following indicates the first number of words to include.
epub.generate.toc.number.of.words = 5
# The following controls how many letters show up per row
# in the letter index.
epub.index.letters.per.row = 8
epub.reader.toc.index.display.name = Index

#####################
# settings for Table of Contents in ePub
#####################
epub.generate.toc = no
epub.generate.toc.classes.full.text = designation, source0, mode
epub.generate.toc.classes.first.words = dialog, hymn, reading
epub.reader.toc.toc.display.name = Outline
#####################
# settings to run TextToAlwb
#text.to.alwb.path.in = /Users/mac002/git/ages-alwb-transformer/net.ages.liturgical.workbench.transformer/filesIn
#text.to.alwb.path.out.ares = /Users/mac002/git/ages-alwb-transformer/net.ages.liturgical.workbench.transformer/filesOut/libraries
#text.to.alwb.path.out.atem = /Users/mac002/git/ages-alwb-transformer/net.ages.liturgical.workbench.transformer/filesOut/templates
text.to.alwb.path.in = /Users/mac002/git/kenya-priests-service-book/service-book/0-source-text
text.to.alwb.path.out.ares = /Users/mac002/git/kenya-priests-service-book/service-book/a-libraries/books
text.to.alwb.path.out.atem = /Users/mac002/git/kenya-priests-service-book/service-book/b-templates/single
text.to.alwb.actors = choir, deacon, penitent, people, priest, reader, singers
text.to.alwb.actor.delimiter = :
text.to.alwb.domain = en_uk_lash
# Below are the tags the transformer will use as the default for the generated atem file
text.to.alwb.default.atem.tag.open = Dialog
text.to.alwb.default.atem.tag.close = End-Dialog
text.to.alwb.replace.ampersand.with = and
#################################
# Settings for debugging purposes
#################################
# If yes, will write an html file from the ePub.  Usually should be = no
epub.save.html = no
